.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  &__title {
    color: #fff !important;
    font-size: 36px;
    font-weight: bold;
  }
  &__filter {
    color: #fff !important;
    font-weight: bold;
    margin: 0 !important;
  }
}
